
<head>
    <title>Area</title>
    <link rel="stylesheet" href="../components/area-style.css">
    <link rel="stylesheet" href="../components/style.css"> 
</head>
<body>
    <section id="Area" class="positioning-bg">
        <video src="./multimedia/video/area.mp4" muted loop autoplay></video> 
        <div class="video-filter"></div>
        <div class="text">
          <h2><%= area_text_1 %></h2>
          <h3><%= area_text_2 %></h3>
          <p> <%= area_text_3 %></p>
        </div>
        <div class="position-cards">
        <!-- ------------------------- first flipping card ------------------------- -->
        <div class="f-c">
          <div class="f-c-i">
            <div class="f-c-f">
              <div class="f-img"><img src="./multimedia/img/area_stages.jpg" alt="stages"></div>
            </div>
            <div class="f-c-b">
              <h1><%= photo_title_1 %></h1>
              <p><%= photo_sub_1 %></p>
            </div>
          </div>
        </div>
        <!-- ------------------------ second flipping card ------------------------- -->
        <div class="f-c">
          <div class="f-c-i">
            <div class="f-c-f">
              <div class="f-img"><img src="./multimedia/img/area_tents.jpg" alt="Tents"> </div>
            </div>
            <div class="f-c-b">
              <h1><%= photo_title_2 %></h1>
              <p><%= photo_sub_2 %></p>
            </div>
          </div>
        </div>
    
        <!-- ------------------------- third flipping card ------------------------- -->
        <div class="f-c">
          <div class="f-c-i">
            <div class="f-c-f">
              <div class="f-img"><img src="./multimedia/img/area_parkin.jpg" alt="Parking"></div>
            </div>
            <div class="f-c-b">
              <h1><%= photo_title_3 %></h1>
              <p><%= photo_sub_3 %></p>
            </div>
          </div>
        </div>
        <!-- ------------------------- forth flipping card ------------------------- -->
        <div class="f-c">
          <div class="f-c-i">
            <div class="f-c-f">
              <div class="f-img"><img src="./multimedia/img/area_team.jpg" alt="Team"></div>
            </div>
            <div class="f-c-b">
              <h1><%= photo_title_4 %></h1>
              <p><%= photo_sub_4 %></p>
            </div>
          </div>
        </div>
        </div>
    
      </section>
    
</body>