<head>
    <title>Home</title>
    <!-- ------------------- style for whole body like text -------------------- -->
    <link rel="stylesheet" href="../components/style.css"> 
    <link rel="stylesheet" href="../components/hero-style.css">
</head>
<body>
    <section id="Home" class="hero-show-time">
        <!-- hero background -->
        <video src="../multimedia/video/concert.mp4" muted loop autoplay alt="Concert-video"></video>
        <div class="hero-video-filter"></div>
        
        <!-- hero text -->
        <div class="text">
            <h2><%= q1_hero %></h2> 
            <h2><%= q2_hero %></h2>
            <h3><%= q3_hero %></h3>
            <h3><%= q4_hero %></h3>
            <p><%= q5_hero %></p>
            <!-- hero button -->
            <a href="/Activity">Explore</a>
        </div>
        
    </section>
</body>

