<head>
    <title>Line-Up</title>
    <link rel="stylesheet" href="../components/style.css"> 
    <link rel="stylesheet" href="../components/line-up-style.css">
</head>
<body>
    <section id="Line-Up" class="line-up-positionining-bg">
        <div class="text">
            <h3>Line up stage 1</h3>
            </div>
        <!-- ------------------------------- stage1 -------------------------------- -->
        <section class="two-columns-boxes">
            <div class="line-up">
                <!-- -------------------------------- empty -------------------------------- -->
                <div class="line-up-empty"></div>
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <!-- ---------------------------------- 1 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= art1.art_date %></p>
                        <h4><%= art1.artist_name %></h4>
                    </div>
                </div>
                <!-- ---------------------------------- 2 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= art2.art_date %></p>
                        <h4><%= art2.artist_name %></h4>
                    </div>
                </div>
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <!-- ---------------------------------- 3 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= art3.art_date %></p>
                        <h4><%= art3.artist_name %></h4>
                    </div>
                </div>
                <!-- ---------------------------------- 4 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= art4.art_date %></p>
                        <h4><%= art4.artist_name %></h4>
                    </div>
                </div>
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <!-- ---------------------------------- 5 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= art5.art_date %></p>
                        <h4><%= art5.artist_name %></h4>
                    </div>
                </div>
                <!-- ---------------------------------- 6 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= art6.art_date %></p>
                        <h4><%= art6.artist_name %></h4>
                    </div>
                </div>
                <!-- -------------------------------- empty -------------------------------- -->
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <div class="line-up-empty"></div>
        
            </div>
        </section>

        <!-- ------------------------------- stage 2 ------------------------------- -->
        <div class="text">
            <h3>Line up stage 2</h3>
        </div>
        <section class="two-columns-boxes">
            <div class="line-up">
                <!-- -------------------------------- empty -------------------------------- -->
                <div class="line-up-empty"></div>
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <!-- ---------------------------------- 1 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= arti1.art_date %></p>
                        <h4><%= arti1.artist_name %></h4>
                    </div>
                </div>
                <!-- ---------------------------------- 3 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= arti2.art_date %></p>
                        <h4><%= arti2.artist_name %></h4>
                    </div>
                </div>
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <!-- ---------------------------------- 3 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= arti3.art_date %></p>
                        <h4><%= arti3.artist_name %></h4>
                    </div>
                </div>
                <!-- ---------------------------------- 4 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= arti4.art_date %></p>
                        <h4><%= arti4.artist_name %></h4>
                    </div>
                </div>
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <!-- ---------------------------------- 5 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= arti5.art_date %></p>
                        <h4><%= arti5.artist_name %></h4>
                    </div>
                </div>
                <!-- ---------------------------------- 6 ---------------------------------- -->
                <div class="line-up-component line-up-text">
                    <div class="text">
                        <p><%= arti6.art_date %></p>
                        <h4><%= arti6.artist_name %></h4>
                    </div>
                </div>
                <!-- -------------------------------- empty -------------------------------- -->
                <div class="line-up-middle">
                    <div class="line-up-circle"></div>
                </div>
                <div class="line-up-empty"></div>
    
            </div>

        </section>
 
    </section>
    <script src="/line-up-previous.js"></script>
</body>

